@import (reference) "~common/styles/index.less";

@p1: {
  .InfoDetailPage {
    .info {
      width: 100%
    }
    .button {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 50px;
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: 20px;
      background: #ebebeb;
    }
  }
};

.hello(@p1);
