@import (reference) "~common/styles/index.less";

@p1: {
  .talkUserList {
    .font(14);
    color: black;
    .back{
      position: absolute;
      display: flex;
      left:5%;
      padding: 30 * @px;
      width: 100%;
    }
    .title {
      .font(16);
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 30 * @px;
      font-weight: bold;
      
    }
    .tab {
      padding-left: 16 * @px;
      display: flex;
      .font(13);
      align-items: center;
      overflow-x: auto;
      &::-webkit-scrollbar{
       display:none;
      }
      .active {
        font-weight: bold;
        color: #0084ff !important;
        background-color: rgba(0, 132, 255, 0.08) !important;      
      }
      .normal {
        margin-right: 20 * @px;
        border-radius: 14.5 *@px;
        padding: 3.5px 16px;
        background-color: #f6f6f6;
        flex-shrink: 0;
        font-weight: 500;
        color: #808080;
      }
    }
    .listTitle {
      margin-top: 10 * @px;
    }
    .users {
      background-color: #f3f3f3;
      margin: 0;
      margin-top: 10px;
      padding: 12px 16px;
      .userIntro {
        display: flex;
        width: 100%;
        .intro {
          margin-left: 10 * @px;
          .sex {
            margin-left: 5px;
          }
        }
      }
      .data {
        display: flex;
        align-items: center;
        margin-top: 6px;
        .item {
          border-right: 1px solid #ebebeb;
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-right: 10px;
          min-width: 70px;
        }
      }
    }
  }
};

.hello(@p1);
