@import (reference) "~common/styles/index.less";

@p1: {
  .talkUserList {
    .font(10);
    color: red;
    .header {                                                                                       
      font-size: 12px;
    }
  }
};

.hello(@p1);


